In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import math
import dateutil.parser
from pandas.io.json import json_normalize
import json
import matplotlib.pyplot as plt  
import seaborn as seabornInstance

In [2]:
USAGE = '201906_Usage_Bicimad.json'

#  Limpieza de datos

**Datos de uso**

In [3]:
usage_df = pd.read_json(USAGE, lines=True)

In [4]:
usage_df['unplug_hourTime'] = json_normalize(usage_df['unplug_hourTime'])

Transformamos en día y hora la fecha en que se coge cada bicicleta:

In [5]:
import datetime
usage_df['unplug_hourTime'] = pd.to_datetime(usage_df['unplug_hourTime']).dt.strftime("%m-%d-%Y, %H:%M:%S")

In [6]:
new = usage_df["unplug_hourTime"].str.split(", ", n = 1, expand = True)

In [7]:
usage_df['unplug_date'] = new[0]
usage_df['unplug_hour'] = new[1]

In [8]:
usage_df.drop(columns =["unplug_hourTime"], inplace = True)

In [9]:
# Qué es esto

def make_int(s):
    s = s.strip()
    if s.isdigit() and len(s) <= 8:
        return int(s)
    else: return 0

In [10]:
usage_df['zip_code'] = usage_df['zip_code'].apply(lambda x: make_int(x))

In [11]:
usage_df = usage_df.drop(['_id', 'user_day_code', 'idplug_base', 'idunplug_base', 'track'], axis = 1)

In [12]:
#hay usuarios con zip code == 0 (ruido, eliminamos también esta feature)
usage_df[usage_df['zip_code'] == 0].count()

user_type           221839
travel_time         221839
idunplug_station    221839
ageRange            221839
idplug_station      221839
zip_code            221839
unplug_date         221839
unplug_hour         221839
dtype: int64

In [13]:
usage_df = usage_df.drop('zip_code', axis = 1)

In [14]:
usage_df.head()

,user_type,travel_time,idunplug_station,ageRange,idplug_station,unplug_date,unplug_hour
0,1,219,90,0,66,06-01-2019,00:00:00
1,1,359,71,4,136,06-01-2019,00:00:00
2,1,375,39,4,38,06-01-2019,00:00:00
3,1,264,66,5,90,06-01-2019,00:00:00
4,1,367,152,4,166,06-01-2019,00:00:00

**Datos de estaciones**

In [15]:
# usage_df['idunplug_station'].describe()