# MODELO DE PREDICCIÓN

A continuación, creamos un modelo (random forest classifier) para predecir la estación de destino de los usuarios de BiciMad.

In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import math
import dateutil.parser
from pandas.io.json import json_normalize
import json
import matplotlib.pyplot as plt  
import seaborn as seabornInstance 

from sklearn.model_selection import train_test_split

In [2]:
USAGE = 'cleanData_v3.csv'

In [3]:
usage_df = pd.read_csv(USAGE)

In [4]:
usage_df.head()

,Unnamed: 0,user_type,travel_time,idunplug_station,ageRange,idplug_station,hour,weekday
0,0,1,3.650000,90,0,66,0,6
1,1,1,5.983333,71,4,136,0,6
2,2,1,6.250000,39,4,38,0,6
3,3,1,4.400000,66,5,90,0,6
4,4,1,6.116667,152,4,166,0,6

In [5]:
usage_df = usage_df.drop('Unnamed: 0', axis =1)

In [7]:
X = usage_df.drop('idplug_station', axis=1)
X.head(3)

   user_type  travel_time  idunplug_station  ageRange  hour  weekday
0          1     3.650000                90         0     0        6
1          1     5.983333                71         4     0        6
2          1     6.250000                39         4     0        6

In [8]:
X_list= list(usage_df.columns)

In [9]:
y = pd.DataFrame(usage_df['idplug_station'])
y.head(3)

   idplug_station
0              66
1             136
2              38

In [10]:
type(y)

pandas.core.frame.DataFrame

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [12]:
print('Training Features Shape:', X_train.shape)
print('Training Labels Shape:', y_train.shape)
print('Testing Features Shape:', X_test.shape)
print('Testing Labels Shape:', y_test.shape)

Training Features Shape: (360648, 6)
Training Labels Shape: (360648, 1)
Testing Features Shape: (90163, 6)
Testing Labels Shape: (90163, 1)

In [13]:
from sklearn.ensemble import RandomForestClassifier

In [14]:
clf = RandomForestClassifier(n_jobs=-1, random_state=0, n_estimators=22)

# Train the Classifier to take the training features and learn how they relate
# to the training y (the species)
clf.fit(X_train, y_train)

/home/yoli/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=22, n_jobs=-1,
                       oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [15]:
y_pred = clf.predict(X_test)

In [16]:
y_pred

array([ 61, 170, 175, ...,  97, 117,  69])

In [17]:
from sklearn import metrics
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.462151880483125

# Conclusiones

Necesitamos una computadora/tarjeta gráfica más potente, para poder crear un modelo de random forest con más estimadores (200?, 300?).